{% include 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all-time favourite movies.</p>
    {%for movie in movies%}
    <div class="card">

        <div class="front"
             style="background-image: url('static/movie/images/{{movie.img_url}}');">
            <p class="large">{{loop.index}}</p>
        </div>
        <div class="back">
            <div>
                <div class="title">{{movie.title}} <span class="release_date">({{movie.year}})</span></div>
                <div class="rating">
                    <label>{{movie.rating}}</label>
                    <i class="fas fa-star star"></i>
                    <br></br>
                </div>
                <p class="review">"{{movie.review}}"</p>
                <p class="overview">
                    {{movie.description}}
                </p>

                <button onclick="window.location.href='update/{{movie.id}}'" type="button" class="button">Update</button>
                <button onclick="window.location.href='delete_movie/{{movie.id}}'" type="button" class="button delete-button">Delete</button>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container text-center add">
<button onclick="window.location.href='create'" class="button">Add Movie</button>
</div>

{% endblock %}